// colors
:root {
    // light theme
    --text-primary:                   rgb(194, 149, 231);
    --text-secondary:                 rgb(110, 109, 122);
    --text-footer:                    rgb(92, 91, 102);
    --text-header:                    rgb(104, 103, 114);
    --color-github:                   hsl(273, 33%, 57%);
    --color-behance:                  rgb(177, 111, 216);
    --color-linkedin:                 rgb(144, 84, 184);
    --background-footer:              rgb(205, 174, 230);
    --line-style:                     rgb(194, 149, 231);
    --color-nuxt-link-active:         rgb(194, 149, 231);
    --text-button:                    rgb(15, 15, 15);
    --color-tags:                     rgba(194, 149, 231, 0.418);
    --text-tags:                      rgb(45, 38, 51);
    --button-primary:                 rgb(194, 149, 231);
    --line-color:                     rgb(231, 231, 233);
    --background-color:               rgb(255, 255, 255);
    --stroke-transform:               rgb(205, 106, 245);
    --html-background-color:          rgba(180, 172, 172, 0.856);
}
  // dark theme
  .dark-mode {
    --text-primary:                 rgb(165, 89, 201);
    --text-secondary:               rgb(188, 187, 201);
    --text-footer:                  rgb(74, 74, 80);
    --text-header:                  rgb(230, 230, 230);
    --color-github:                 rgba(67, 77, 82, 1);
    --color-behance:                rgb(143, 143, 143);
    --color-linkedin:               rgb(103, 113, 134);
    --background-footer:            rgb(230, 230, 230);
    --line-style:                   rgb(230, 230, 230);
    --color-nuxt-link-active:       rgb(194, 149, 231);
    --text-button:                  rgb(253, 253, 253);
    --color-tags:                   rgba(255, 255, 255, 0.952);
    --text-tags:                    rgb(58, 47, 68);
    --button-primary:               rgb(194, 149, 231);
    --line-color:                   rgb(45, 55, 72);
    --background-color:             rgb(45, 55, 72);
    --stroke-transform:             rgb(205, 106, 245);
    --html-background-color:        rgb(26, 32, 44);
  }

  
  $text-primary:                      var(--text-primary);
  $text-secondary:                    var(--text-secondary);
  $text-button:                       var(--text-button);
  $line-color:                        var(--line-color);
  $background-color:                  var(--background-color);
  $html-background-color:             var(--html-background-color);
  
  $primary:                           rgb(102, 93, 245);
  $green:                             rgba(102, 231, 200, .69);
  $stroke:                            rgb(159, 84, 189);
  $stroke-transform:                  rgb(220, 132, 255);
  $white:                             rgb(255, 255, 255);

  .sepia-mode { 
    --color: #433422;
    --background-color: #977a57;
    --text-header: #f1e7d0;
    --text-secondary: #eae0c9;
    --border-color: #ded0bf; 
    --background-footer:            rgba(126, 98, 60, 0.952);
    --line-style:                   rgba(233, 216, 161, 0.952);
    --color-nuxt-link-active:       rgb(53, 50, 35);
    --color-github:                 rgba(80, 78, 58, 1);
    --color-behance:                rgb(175, 157, 108);
    --color-linkedin:               rgb(158, 147, 111);
    --text-button:                  rgba(88, 84, 68, 0.952);
    --text-footer:                  rgb(240, 234, 223);
    --color-tags:                   rgba(190, 164, 78, 0.952);
    --text-tags:                    rgb(68, 64, 44);
    --button-primary:               rgba(219, 203, 150, 0.952);
    --stroke-transform:             rgb(205, 106, 245);
    --html-background-color:        rgb(71, 61, 40);
  }